@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="btn-login">
        <a href="Login" class="btn btn-primary btn-lg ">Login Here&raquo;</a>
    </div>
    <h3></h3>
    <p class="lead"></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>